<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using the Data — Only Good Antibodies</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>

<body class="no-wobble">
{% include 'core/cookie_banner.html' %}
<script src="{% static 'core/script.js' %}"></script>

        {% include 'core/header.html' %}  
    
        <!-- Banner Section -->
        <section class="banner about-banner">
            <div class="banner-text">
                <h2>Using the Data</h2>
            </div>
        </section>
    

        <section class="edu-container">
            <div class="card edu-banner">
                <img src="{% static 'core/Edu-table.png' %}" alt="Educational Resources" class="banner-image">
            </div>
        
        
        
            <!-- Content Section -->
            <section class="card edu-content">
                <h2>How to use the data to choose an antibody</h2>
                <p>The portal presents data for four applications: Western blotting, immunoprecipitation, immunofluorescence, and flow cytometry.</p>
                <p>In <strong>Western blot</strong>, the ideal antibody would only have a band(s) in the wild type (WT) lane, and none in the knockout KO lane (Successful antibody 1). For some experiments, an antibody that has a WT-specific band but also has additional non-specific bands (Successful antibody 2) might be usable. An unsuccessful antibody is not suitable for Western blotting in this cell line.</p>
                <p>In <strong>immunoprecipitation</strong> experiments, the ideal antibody (Successful antibody 1) is able to immunoprecipitate (IP) such that the precipitate (IP) has a very strong band relative to the starting material (SM), and very little protein is left unbound (UB). This may be useful for some experiments (Successful antibody 2), perhaps with further protocol optimization. An unsuccessful antibody is unable to precipitate the protein (IP) or does so very weakly. This is not suitable for IP in this cell line using the standard protocol.</p>
                <p>In <strong>immunofluorescence</strong> experiments, the successful antibody shows staining in the WT-labeled green, but not the KO-labeled magenta. Unsuccessful antibodies show equivalent or similar staining and are not suitable in the conditions studied for IF.</p>
                <p>In <strong>flow cytometry</strong> experiments, a successful antibody shows a WT (green) histogram with strong staining that does not overlap with the KO histogram (pink). The background level of staining is shown using a secondary-only control (dotted white histogram). Ideally, the KO and the secondary-only histograms should match. An unsuccessful antibody shows no difference between WT and KO histograms.</p>
                <p>As a prompt, all our data is presented with a reference ideal image for users to compare to. This image is not a real antibody but a representation of what ideal data would look like.</p>
            </section>
        </section>


<!-- Footer for Publications Page -->
<div class="footer-wrapper">
    {% include 'core/footer.html' with footer_class="footer-publications" %}
</div>

</body>
</html>
